<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body class="bg-light">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">MAGI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">登出 ({{ current_user.id }})</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">登录</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <h1 class="mt-5 display-1">MAGI</h1>
        <p class="fs-5 fst-italic text-muted">MAGI is a semantic searcher that allows you to search over GitHub with natural language.</p>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="search-form" class="mt-5">
                    <input type="text" id="search-input" class="form-control mb-3" placeholder="搜索" required>
                    <div class="d-flex justify-content-between">
                        <button type="submit" id="search-btn" class="btn btn-primary">Search</button>
                        <button type="button" id="lucky-btn" class="btn btn-secondary">Feeling Lucky</button>
                    </div>
                </form>
                <!-- Result List Container -->
                <div id="search-results" class="d-none mt-4">
                    <ul id="search-results-list" class="list-unstyled">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#search-form').on('submit', function(event) {
                event.preventDefault();
                var search_text = $('#search-input').val();
                $.ajax({
                    url: "{{ url_for('search') }}",
                    method: 'POST',
                    data: { search_text: search_text },
                    success: function(response) {
                        $('#search-results-list').empty();
                        $.each(response, function(key, value) {
                            var result_item = $('<li>').append(
                                $('<div>', {
                                    class: 'card mt-2'
                                }).append(
                                    $('<div>', {
                                        class: 'card-header'
                                    }).append(
                                        $('<h3>', {
                                            class: 'card-title m-0'
                                        }).append(
                                            $('<a>', {
                                                href: value.url,
                                                text: key
                                            })
                                        )
                                    ),
                                    $('<div>', {
                                        class: 'card-body'
                                    }).append(
                                        $('<p>', {
                                            class: 'card-text text-truncate',
                                            text: value.readme,
                                            style: 'max-height: 3.6em; overflow: hidden;'
                                        })
                                    )
                                )
                            );
                            $('#search-results-list').append(result_item);
                        });
                        $('#search-results').removeClass('d-none');
                    }
                });
            });
        });
    </script>
        
</body>
</html>
